/* line 17, ../sass/partials/_base.sass */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  z-index: 0;
}

/* line 28, ../sass/partials/_base.sass */
a, a:link, a:visited, a:hover, a:focus {
  text-decoration: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

/* line 35, ../sass/partials/_base.sass */
.white {
  color: white;
}

/* line 38, ../sass/partials/_base.sass */
.inline-block-middle {
  display: inline-block;
  vertical-align: middle;
}

/* line 1, ../sass/partials/_header.sass */
.header {
  background-color: #1a2634;
  width: 100%;
  height: 51px;
}
/* line 5, ../sass/partials/_header.sass */
.header .inner {
  width: 100%;
  height: 51px;
  max-height: 51px;
  padding: 0 50px;
  margin: 0 auto;
}
/* line 12, ../sass/partials/_header.sass */
.header .inner .logo {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}
/* line 15, ../sass/partials/_header.sass */
.header .inner .logo img {
  height: 40px;
}
/* line 17, ../sass/partials/_header.sass */
.header .inner .add-new {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  color: white;
  background-color: #e84545;
  padding: 12px;
  cursor: pointer;
}
/* line 25, ../sass/partials/_header.sass */
.header .inner .add-new p {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
}
/* line 29, ../sass/partials/_header.sass */
.header .inner .add-new i {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 12px;
}
/* line 33, ../sass/partials/_header.sass */
.header .inner .add-new:hover .add-new-options {
  display: block;
}
/* line 35, ../sass/partials/_header.sass */
.header .inner .add-new .add-new-options {
  display: none;
  position: absolute;
  top: 51px;
  left: 0;
  min-width: 118px;
  background-color: #903749;
  border-radius: 0 0 3px 3px;
}
/* line 43, ../sass/partials/_header.sass */
.header .inner .add-new .add-new-options ul {
  list-style-type: none;
}
/* line 45, ../sass/partials/_header.sass */
.header .inner .add-new .add-new-options ul li {
  color: white;
  padding: 12px;
}
/* line 48, ../sass/partials/_header.sass */
.header .inner .add-new .add-new-options ul li:hover {
  cursor: pointer;
  background-color: #53354a;
}
/* line 51, ../sass/partials/_header.sass */
.header .inner .user-panel {
  float: right;
  display: inline-block;
  vertical-align: middle;
}
/* line 54, ../sass/partials/_header.sass */
.header .inner .user-panel .search {
  display: inline-block;
  vertical-align: middle;
}
/* line 56, ../sass/partials/_header.sass */
.header .inner .user-panel .search i {
  font-size: 22px;
  margin: 6px 5px 0 0;
  color: white;
  display: inline-block;
  vertical-align: top;
}
/* line 62, ../sass/partials/_header.sass */
.header .inner .user-panel .search input {
  font-size: 14px;
  line-height: 27px;
  height: 27px;
  width: 240px;
  margin: 7px 0;
  padding: 3px 12px;
  border: 0;
  border-radius: 14px;
}
/* line 71, ../sass/partials/_header.sass */
.header .inner .user-panel .search .search-options-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #203e5f;
  color: white;
  width: 80px;
  margin-left: 5px;
  padding: 1px 3px 3px 3px;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
}
/* line 83, ../sass/partials/_header.sass */
.header .inner .user-panel .search .search-options-container:hover .search-options {
  display: block;
}
/* line 85, ../sass/partials/_header.sass */
.header .inner .user-panel .search .search-options-container:hover > p {
  text-decoration: underline;
}
/* line 87, ../sass/partials/_header.sass */
.header .inner .user-panel .search .search-options-container p {
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
  margin-left: 6px;
}
/* line 91, ../sass/partials/_header.sass */
.header .inner .user-panel .search .search-options-container i {
  display: inline-block;
  vertical-align: middle;
  float: right;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 5px;
  z-index: 10;
}
/* line 98, ../sass/partials/_header.sass */
.header .inner .user-panel .search .search-options-container .search-options {
  display: none;
  position: absolute;
  top: 12px;
  right: 0;
  background-color: #203e5f;
  color: white;
  width: 150px;
  overflow: hidden;
  padding-top: 14px;
  border: 0;
  border-radius: 3px 0 3px 3px;
  z-index: -1;
}
/* line 111, ../sass/partials/_header.sass */
.header .inner .user-panel .search .search-options-container .search-options ul {
  list-style-type: none;
}
/* line 113, ../sass/partials/_header.sass */
.header .inner .user-panel .search .search-options-container .search-options ul li {
  padding: 8px;
  background-color: #203e5f;
  cursor: auto;
}
/* line 117, ../sass/partials/_header.sass */
.header .inner .user-panel .search .search-options-container .search-options ul li:hover {
  background-color: #1a2634;
}
/* line 119, ../sass/partials/_header.sass */
.header .inner .user-panel .search .search-options-container .search-options ul li p {
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
}
/* line 122, ../sass/partials/_header.sass */
.header .inner .user-panel .search .search-options-container .search-options ul li input {
  display: inline-block;
  vertical-align: middle;
  float: right;
  width: 12px;
  margin: -3px 5px 0 0;
}
/* line 127, ../sass/partials/_header.sass */
.header .inner .user-panel .user {
  position: relative;
  display: inline-block;
  margin-left: 100px;
}
/* line 132, ../sass/partials/_header.sass */
.header .inner .user-panel .user a p.username {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
/* line 135, ../sass/partials/_header.sass */
.header .inner .user-panel .user a p.username:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* line 138, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  cursor: pointer;
}
/* line 143, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container img.user-pic {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  border: 3px solid #203e5f;
  border-radius: 50%;
}
/* line 148, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container:hover .user-options {
  display: block;
}
/* line 150, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container .user-options {
  display: none;
  position: absolute;
  top: 51px;
  right: 0;
  min-width: 150px;
  overflow: hidden;
  background-color: #203e5f;
  border-radius: 0 0 3px 3px;
}
/* line 159, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container .user-options ul {
  list-style-type: none;
}
/* line 162, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container .user-options ul li a {
  display: block;
  color: white;
  padding: 12px;
}
/* line 166, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container .user-options ul li a:hover {
  cursor: pointer;
  background-color: #1a2634;
}
/* line 169, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container .user-options ul li a i {
  margin-right: 12px;
}
