/* line 24, ../sass/partials/_base.sass */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  outline: none;
  z-index: 0;
}

/* line 35, ../sass/partials/_base.sass */
a, a:link, a:visited, a:hover, a:focus {
  text-decoration: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

/* line 42, ../sass/partials/_base.sass */
body {
  background-color: #eeeeee;
  line-height: normal;
}

/* line 46, ../sass/partials/_base.sass */
.white {
  color: white;
}

/* line 49, ../sass/partials/_base.sass */
.text-right {
  text-align: right;
}

/* line 52, ../sass/partials/_base.sass */
.inline-block-middle {
  display: inline-block;
  vertical-align: middle;
}

/* line 56, ../sass/partials/_base.sass */
.pre-loader {
  width: 100vw;
  height: 100vh;
}
/* line 59, ../sass/partials/_base.sass */
.pre-loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
}

/* line 68, ../sass/partials/_base.sass */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* line 74, ../sass/partials/_base.sass */
#loading-bar .bar {
  background: #de703c;
}
/* line 76, ../sass/partials/_base.sass */
#loading-bar .peg {
  -moz-box-shadow: #de703c 1px 0 6px 1px;
  -ms-box-shadow: #de703c 1px 0 6px 1px;
  -webkit-box-shadow: #de703c 1px 0 6px 1px;
  box-shadow: #de703c 1px 0 6px 1px;
}

/* line 82, ../sass/partials/_base.sass */
#loading-bar-spinner {
  position: relative;
  display: block;
  top: 0;
  left: 0;
}
/* line 87, ../sass/partials/_base.sass */
#loading-bar-spinner .spinner-icon {
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top-color: #de703c;
  border-left-color: #de703c;
}

/* line 95, ../sass/partials/_base.sass */
.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 1px;
  background: white;
  background-color: white;
  font-family: inherit;
  font-size: 14px;
  line-height: normal;
  padding: 20px;
}

/* line 3, ../sass/partials/_header.sass */
.header-cover-up {
  position: relative;
  width: 100%;
  height: 53px;
}

/* line 8, ../sass/partials/_header.sass */
.header {
  background-color: #1a2634;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 53px;
  z-index: 900;
  padding-top: 2px;
  box-shadow: 0 1px 3px rgba(1, 1, 1, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.5);
}
/* line 18, ../sass/partials/_header.sass */
.header * {
  z-index: 900;
}
/* line 20, ../sass/partials/_header.sass */
.header .inner {
  width: 100%;
  height: 53px;
  max-height: 51px;
  padding: 0 50px;
  margin: 0 auto;
}
/* line 27, ../sass/partials/_header.sass */
.header .inner #circular-loader {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
/* line 34, ../sass/partials/_header.sass */
.header .inner .logo-container {
  display: inline-block;
  vertical-align: middle;
  margin-top: 8px;
}
/* line 37, ../sass/partials/_header.sass */
.header .inner .logo-container img {
  vertical-align: top;
  height: 40px;
}
/* line 40, ../sass/partials/_header.sass */
.header .inner .add-new {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
  margin-left: 15px;
  color: white;
  padding: 3px 12px;
  border: 2px solid white;
  cursor: pointer;
}
/* line 49, ../sass/partials/_header.sass */
.header .inner .add-new:hover {
  background-color: #de703c;
  border-color: #de703c;
}
/* line 52, ../sass/partials/_header.sass */
.header .inner .add-new p {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
}
/* line 56, ../sass/partials/_header.sass */
.header .inner .add-new i {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 12px;
}
/* line 60, ../sass/partials/_header.sass */
.header .inner .add-new .add-new-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 118px;
  background-color: #203e5f;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 6px -2px #1a2634;
  -webkit-box-shadow: 0 3px 6px -2px #1a2634;
  -moz-box-shadow: 0 3px 6px -2px #1a2634;
}
/* line 69, ../sass/partials/_header.sass */
.header .inner .add-new .add-new-options ul {
  list-style-type: none;
}
/* line 71, ../sass/partials/_header.sass */
.header .inner .add-new .add-new-options ul li {
  color: white;
  padding: 12px;
}
/* line 74, ../sass/partials/_header.sass */
.header .inner .add-new .add-new-options ul li:hover {
  cursor: pointer;
  background-color: #1a2634;
}
/* line 77, ../sass/partials/_header.sass */
.header .inner .user-panel {
  float: right;
  display: inline-block;
  vertical-align: middle;
}
/* line 80, ../sass/partials/_header.sass */
.header .inner .user-panel .search {
  display: inline-block;
  vertical-align: middle;
}
/* line 82, ../sass/partials/_header.sass */
.header .inner .user-panel .search i {
  font-size: 18px;
  margin: 9px 0 0 -27px;
  color: #bbbbbb;
  display: inline-block;
  vertical-align: top;
}
/* line 88, ../sass/partials/_header.sass */
.header .inner .user-panel .search input {
  font-size: 14px;
  line-height: 27px;
  height: 27px;
  width: 240px;
  margin: 7px 0;
  padding: 3px 30px 3px 12px;
  border: 0;
  border-radius: 14px;
}
/* line 97, ../sass/partials/_header.sass */
.header .inner .user-panel .user {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
/* line 102, ../sass/partials/_header.sass */
.header .inner .user-panel .user a p.username {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
/* line 105, ../sass/partials/_header.sass */
.header .inner .user-panel .user a p.username:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* line 108, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  cursor: pointer;
}
/* line 113, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container img.user-pic {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  border: 3px solid #203e5f;
  border-radius: 50%;
}
/* line 118, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container:hover .user-options {
  display: block;
}
/* line 120, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container .user-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 150px;
  overflow: hidden;
  background-color: #203e5f;
  border-top: 1px solid #1a2634;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 6px -2px #1a2634;
  -webkit-box-shadow: 0 3px 6px -2px #1a2634;
  -moz-box-shadow: 0 3px 6px -2px #1a2634;
}
/* line 131, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container .user-options ul {
  list-style-type: none;
  margin: 0;
}
/* line 135, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container .user-options ul li a {
  display: block;
  color: white;
  padding: 12px;
}
/* line 139, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container .user-options ul li a:hover {
  cursor: pointer;
  background-color: #1a2634;
}
/* line 142, ../sass/partials/_header.sass */
.header .inner .user-panel .user .user-pic-container .user-options ul li a i {
  margin-right: 12px;
}

/* line 1, ../sass/partials/_add-item.sass */
.add-dialog {
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 5, ../sass/partials/_add-item.sass */
.add-dialog .multimedia {
  position: relative;
  width: 49%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
/* line 10, ../sass/partials/_add-item.sass */
.add-dialog .multimedia * {
  color: #1a2634;
}
/* line 13, ../sass/partials/_add-item.sass */
.add-dialog .multimedia:hover * {
  color: #de703c;
}
/* line 15, ../sass/partials/_add-item.sass */
.add-dialog .multimedia .inner {
  padding-right: 30px;
}
/* line 17, ../sass/partials/_add-item.sass */
.add-dialog .multimedia .inner .icons {
  position: relative;
  text-align: center;
}
/* line 20, ../sass/partials/_add-item.sass */
.add-dialog .multimedia .inner .icons i {
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
  font-size: 40px;
}
/* line 24, ../sass/partials/_add-item.sass */
.add-dialog .multimedia .inner p.option-name {
  font-size: 20px;
  text-align: center;
  margin-top: 6px;
}
/* line 28, ../sass/partials/_add-item.sass */
.add-dialog .multimedia .inner p.formats {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}
/* line 32, ../sass/partials/_add-item.sass */
.add-dialog .separator {
  width: 1%;
  height: 120px;
  border-left: 2px solid #1a2634;
  display: inline-block;
  vertical-align: middle;
}
/* line 37, ../sass/partials/_add-item.sass */
.add-dialog .text {
  position: relative;
  width: 48%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
/* line 42, ../sass/partials/_add-item.sass */
.add-dialog .text * {
  color: #1a2634;
}
/* line 45, ../sass/partials/_add-item.sass */
.add-dialog .text:hover * {
  color: #de703c;
}
/* line 47, ../sass/partials/_add-item.sass */
.add-dialog .text .inner {
  padding-left: 30px;
}
/* line 49, ../sass/partials/_add-item.sass */
.add-dialog .text .inner .icons {
  position: relative;
  text-align: center;
}
/* line 52, ../sass/partials/_add-item.sass */
.add-dialog .text .inner .icons i {
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
  font-size: 40px;
}
/* line 56, ../sass/partials/_add-item.sass */
.add-dialog .text .inner p.option-name {
  font-size: 20px;
  text-align: center;
  margin-top: 6px;
}
/* line 60, ../sass/partials/_add-item.sass */
.add-dialog .text .inner p.formats {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

/* line 66, ../sass/partials/_add-item.sass */
.media-dialog p.heading {
  margin-bottom: 10px;
}
/* line 68, ../sass/partials/_add-item.sass */
.media-dialog p.heading .text {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
/* line 71, ../sass/partials/_add-item.sass */
.media-dialog p.heading i {
  display: inline-block;
  vertical-align: middle;
  font-size: 35px;
  margin-left: 12px;
}
/* line 76, ../sass/partials/_add-item.sass */
.media-dialog form input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #cccccc;
}
/* line 81, ../sass/partials/_add-item.sass */
.media-dialog form input:focus {
  border-color: #333333;
}
/* line 83, ../sass/partials/_add-item.sass */
.media-dialog form .description {
  position: relative;
  width: 100%;
  height: 135px;
  margin-bottom: 12px;
}
/* line 88, ../sass/partials/_add-item.sass */
.media-dialog form .description textarea {
  width: 100%;
  height: 104px;
  line-height: 14px;
  resize: none;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #cccccc;
}
/* line 96, ../sass/partials/_add-item.sass */
.media-dialog form .description textarea:focus {
  border-color: #333333;
}
/* line 98, ../sass/partials/_add-item.sass */
.media-dialog form .description p.text-count {
  position: absolute;
  right: 4px;
  bottom: 0;
}
/* line 102, ../sass/partials/_add-item.sass */
.media-dialog form .btn-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}
/* line 105, ../sass/partials/_add-item.sass */
.media-dialog form .btn-wrapper .form-btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  background-color: white;
  border: 1px solid #333333;
  cursor: pointer;
}
/* line 111, ../sass/partials/_add-item.sass */
.media-dialog form .btn-wrapper .form-btn:hover, .media-dialog form .btn-wrapper .form-btn:focus {
  color: white;
  border-color: #de703c;
  background-color: #de703c;
}

/* line 1, ../sass/partials/_home.sass */
.home {
  background-color: #eeeeee;
  padding: 25px 50px;
}
/* line 4, ../sass/partials/_home.sass */
.home .columns {
  -moz-columns: 3 408px;
  -moz-column-gap: 20px;
  -webkit-columns: 3 408px;
  -webkit-column-gap: 20px;
  columns: 3 408px;
  column-gap: 20px;
  max-width: 1264px;
  margin: 0 auto;
}
/* line 6, ../sass/partials/_home.sass */
.home .columns .feed-item {
  position: relative;
  display: inline-block;
  background-color: #2b3134;
  width: 100%;
  min-height: 150px;
  margin-bottom: 20px;
  padding: 0;
  border: 0;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* line 18, ../sass/partials/_home.sass */
.home .columns .feed-item:hover .tag-container {
  opacity: 1;
}
/* line 20, ../sass/partials/_home.sass */
.home .columns .feed-item:hover .more-details {
  opacity: 1;
}
/* line 22, ../sass/partials/_home.sass */
.home .columns .feed-item .feed-thumbnail {
  width: 100%;
  font-size: 0;
  cursor: pointer;
}
/* line 26, ../sass/partials/_home.sass */
.home .columns .feed-item .feed-thumbnail img {
  width: 100%;
}
/* line 28, ../sass/partials/_home.sass */
.home .columns .feed-item .tag-container {
  opacity: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: center;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
}
/* line 35, ../sass/partials/_home.sass */
.home .columns .feed-item .tag-container .tag {
  padding: 1px 8px;
  border: 0;
  border-radius: 12px;
  background-color: #e84545;
  color: white;
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
}
/* line 42, ../sass/partials/_home.sass */
.home .columns .feed-item .tag-container .tag p {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 47, ../sass/partials/_home.sass */
.home .columns .feed-item .more-details {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0);
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
}
/* line 56, ../sass/partials/_home.sass */
.home .columns .feed-item .more-details p.item-title {
  display: table;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 3px;
  color: white;
  text-shadow: 0 1px 1px #333333;
  text-transform: capitalize;
  letter-spacing: 0.03em;
}
/* line 65, ../sass/partials/_home.sass */
.home .columns .feed-item .more-details p.item-title:hover {
  text-decoration: underline;
}
/* line 67, ../sass/partials/_home.sass */
.home .columns .feed-item .more-details a {
  display: table;
}
/* line 69, ../sass/partials/_home.sass */
.home .columns .feed-item .more-details a p.owner {
  display: table;
  padding: 3px 3px;
  color: white;
  text-shadow: 0 1px 1px #333333;
  text-transform: capitalize;
  letter-spacing: 0.03em;
}
/* line 76, ../sass/partials/_home.sass */
.home .columns .feed-item .more-details a p.owner:hover {
  text-decoration: underline;
}
/* line 1, ../sass/partials/_appreciations.sass */
.home .columns .feed-item .appreciations-container {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
}
/* line 8, ../sass/partials/_appreciations.sass */
.home .columns .feed-item .appreciations-container p.appreciations {
  position: absolute;
  bottom: 7px;
  left: -18px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 7px #333333;
}
/* line 16, ../sass/partials/_appreciations.sass */
.home .columns .feed-item .appreciations-container i {
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 35px;
  color: #ffcc00;
  cursor: pointer;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
}
/* line 24, ../sass/partials/_appreciations.sass */
.home .columns .feed-item .appreciations-container i:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

/* line 1, ../sass/partials/_feed-lightbox.sass */
.modal-backdrop.in {
  opacity: 0.95;
}

/* line 3, ../sass/partials/_feed-lightbox.sass */
.modal-content {
  border: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}
/* line 8, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body {
  padding: 0;
}
/* line 10, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* line 14, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container i.esc-msg {
  color: #555555;
  font-size: 11px;
  margin-top: 3px;
  margin-left: 10px;
}
/* line 19, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container .lightbox-img {
  position: relative;
  width: 100%;
  height: auto;
}
/* line 23, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container .lightbox-img img {
  width: 100% !important;
  height: auto !important;
}
/* line 26, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: black;
}
/* line 31, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel .lightbox-panel-inner {
  overflow: hidden;
  padding: 15px 30px;
  color: white;
  height: inherit;
}
/* line 36, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel .lightbox-panel-inner p.item-title {
  font-size: 18px;
  font-weight: bold;
  padding: 4px 3px;
  color: white;
  text-shadow: 0 1px 1px #333333;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  max-width: 100%;
}
/* line 45, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel .lightbox-panel-inner p.item-desc {
  margin-top: 20px;
  padding: 0 3px;
  letter-spacing: 0.03em;
  max-width: 100%;
  text-align: justify;
}
/* line 51, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel .lightbox-panel-inner a.item-owner-link {
  margin-top: 20px;
  display: table;
}
/* line 54, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel .lightbox-panel-inner a.item-owner-link .item-owner {
  display: inline-block;
  vertical-align: middle;
}
/* line 56, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel .lightbox-panel-inner a.item-owner-link .item-owner img {
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  border-radius: 50%;
}
/* line 60, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel .lightbox-panel-inner a.item-owner-link .item-owner p {
  display: inline-block;
  vertical-align: middle;
  color: #cccccc;
  margin-left: 10px;
}
/* line 64, ../sass/partials/_feed-lightbox.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel .lightbox-panel-inner a.item-owner-link .item-owner p:hover {
  text-decoration: underline;
}
/* line 1, ../sass/partials/_appreciations.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel .lightbox-panel-inner .appreciations-container {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
}
/* line 8, ../sass/partials/_appreciations.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel .lightbox-panel-inner .appreciations-container p.appreciations {
  position: absolute;
  bottom: 7px;
  left: -18px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 7px #333333;
}
/* line 16, ../sass/partials/_appreciations.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel .lightbox-panel-inner .appreciations-container i {
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 35px;
  color: #ffcc00;
  cursor: pointer;
  transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
}
/* line 24, ../sass/partials/_appreciations.sass */
.modal-content .modal-body .lightbox-container .lightbox-panel .lightbox-panel-inner .appreciations-container i:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}
