.add-dialog
  overflow: hidden
  position: relative
  width: 100%
  .multimedia
    position: relative
    width: 49%
    +inline-block
    cursor: pointer
    *
      color: $dark
    &:hover
      *
        color: $orange
    .inner
      padding-right: 30px
      .icons
        position: relative
        text-align: center
        i
          +inline-block
          margin: 3px
          font-size: 40px
      p.option-name
        font-size: 20px
        text-align: center
        margin-top: 6px
      p.formats
        font-size: 12px
        text-align: center
        margin-top: 5px
  .separator
    width: 1%
    height: 120px
    border-left: 2px solid $dark
    +inline-block
  .text
    position: relative
    width: 48%
    +inline-block
    cursor: pointer
    *
      color: $dark
    &:hover
      *
        color: $orange
    .inner
      padding-left: 30px
      .icons
        position: relative
        text-align: center
        i
          +inline-block
          margin: 3px
          font-size: 40px
      p.option-name
        font-size: 20px
        text-align: center
        margin-top: 6px
      p.formats
        font-size: 12px
        text-align: center
        margin-top: 5px

.media-dialog
  p.heading
    margin-bottom: 10px
    .text
      +inline-block
      font-size: 20px
    i
      +inline-block
      font-size: 35px
      margin-left: 12px
  form
    input
      width: 100%
      padding: 12px
      margin: 12px 0
      border: 1px solid #ccc
      &:focus
        border-color: #333
    .description
      position: relative
      width: 100%
      height: 135px
      margin-bottom: 12px
      textarea
        width: 100%
        height: 104px
        line-height: 14px
        resize: none
        padding: 12px
        margin: 12px 0
        border: 1px solid #ccc
        &:focus
          border-color: #333
      p.text-count
        position: absolute
        right: 4px
        bottom: 0
    .btn-wrapper
      +inline-block
      width: 49%
      .form-btn
        +inline-block
        padding: 10px
        background-color: #fff
        border: 1px solid #333
        cursor: pointer
        &:hover, &:focus
          color: #fff
          border-color: $orange
          background-color: $orange
