// Colors
$dark: #1A2634
$light: #203E5F
$light-search: #405e9f // Experimental
$yellow: #FFCC00
$dull-yellow: #FEE5B1

$dark-grey: #222831
$light-grey: #393E46
$aqua: #00ADB5
$light-white: #EEEEEE

$dark-blue: #2B2E4A
$red: #E84545
$maroon: #903749
$dull-red: #53354A

$another-shade-of-grey: #2B3134
$another-yellow: #FBB040
$orange: #DE703C

$tag-art: $red

*
  margin: 0
  padding: 0
  border: 0
  font-family: "Oxygen", sans-serif
  font-size: 14px
  -webkit-font-smoothing: antialiased
  +box-sizing
  outline: none
  z-index: 0

a, a:link, a:visited, a:hover, a:focus
  text-decoration: inherit
  color: inherit
  font-size: inherit
  font-weight: inherit
  font-family: inherit

body
  background-color: $light-white
  line-height: normal

.white
  color: #fff

.text-right
  text-align: right

.inline-block-middle
  display: inline-block
  vertical-align: middle

.pre-loader
  width: 100vw
  height: 100vh
  img
    position: absolute
    top: 50%
    left: 50%
    width: 60px
    height: 60px
    margin-left: -30px
    margin-top: -30px

h1, h2, h3, h4, h5, h6, p
  margin: 0


// Overrides
#loading-bar
  .bar
    background: $orange
  .peg
    -moz-box-shadow: $orange 1px 0 6px 1px
    -ms-box-shadow: $orange 1px 0 6px 1px
    -webkit-box-shadow: $orange 1px 0 6px 1px
    box-shadow: $orange 1px 0 6px 1px

#loading-bar-spinner
  position: relative
  display: block
  top: 0
  left: 0
  & .spinner-icon
    width: 16px
    height: 16px
    border: 2px solid transparent
    border-top-color: $orange
    border-left-color: $orange

.ngdialog.ngdialog-theme-default
  .ngdialog-content
    border-radius: 1px
    background: #fff
    background-color: #fff
    font-family: inherit
    font-size: 14px
    line-height: normal
    padding: 20px
