// Colors
$dark: #1A2634
$light: #203E5F
$yellow: #FFCC00
$four: #FEE5B1

$dark-grey: #222831
$light-grey: #393E46
$aqua: #00ADB5
$light-white: #EEEEEE

$dark-blue: #2B2E4A
$red: #E84545
$maroon: #903749
$dull-red: #53354A

*
  margin: 0
  padding: 0
  border: 0
  font-family: "Oxygen", sans-serif
  font-size: 14px
  -webkit-font-smoothing: antialiased
  +box-sizing
  outline: none
  z-index: 0

a, a:link, a:visited, a:hover, a:focus
  text-decoration: inherit
  color: inherit
  font-size: inherit
  font-weight: inherit
  font-family: inherit

body
  background-color: $light-white

.white
  color: #fff

.inline-block-middle
  display: inline-block
  vertical-align: middle
