.modal-backdrop.in
  opacity: 0.9
.modal-content
  border: 0
  border-radius: 0
  background: transparent
  +box-shadow-custom(0 0 0 0)
  .modal-body
    padding: 0
    .lightbox-container
      position: relative
      img
        width: 100% !important
        height: auto !important
      .lightbox-panel
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        overflow: hidden
        padding: 15px
        color: #fff
        +linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6))
        p.item-title
          display: table
          font-size: 18px
          font-weight: bold
          padding: 4px 3px
          color: #fff
          text-shadow: 0 1px 1px #333
          text-transform: capitalize
          letter-spacing: 0.03em
          max-width: 60%
        .appreciations-container
          position: absolute
          bottom: 5px
          right: 15px
          width: 40px
          height: 40px
          text-align: center
          p.appreciations
            position: absolute
            bottom: 7px
            left: -18px
            font-size: 14px
            font-weight: bold
            color: #fff
            text-shadow: 0 0 7px #333
          i
            position: absolute
            top: 0
            right: 0
            font-size: 35px
            color: $yellow
            cursor: pointer
            +transition(300ms)
            &:hover
              +transform(scale(1.2))
