$header-height: 51px

.header-cover-up
  position: relative
  width: 100%
  height: $header-height

.header
  background-color: $dark
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: $header-height
  z-index: 900
  +box-shadow-custom(0 1px 3px rgba(1, 1, 1, 0.5))
  *
    z-index: 900
  .inner
    width: 100%
    // max-width: 1366px
    height: $header-height
    max-height: 51px
    padding: 0 50px
    margin: 0 auto
    .logo-container
      +inline-block
      margin-top: 5px
      img
        vertical-align: top
        height: 40px
    .add-new
      position: relative
      +inline-block
      margin-left: 15px
      color: #fff
      background-color: $aqua
      padding: 12px
      cursor: pointer
      p
        +inline-block
        font-size: 16px
        font-weight: bold
      i
        +inline-block
        font-size: 20px
        margin-right: 12px
      &:hover .add-new-options
        display: block
      .add-new-options
        display: none
        position: absolute
        top: 100%
        left: 0
        min-width: 118px
        background-color: $light
        border-radius: 0 0 3px 3px
        +box-shadow($dark)
        ul
          list-style-type: none
          li
            color: #fff
            padding: 12px
            &:hover
              cursor: pointer
              background-color: $dark
    .user-panel
      float: right
      +inline-block
      .search
        +inline-block
        i
          font-size: 22px
          margin: 6px 5px 0 0
          color: #fff
          display: inline-block
          vertical-align: top
        input
          font-size: 14px
          line-height: 27px
          height: 27px
          width: 240px
          margin: 7px 0
          padding: 3px 12px
          border: 0
          border-radius: 14px
        .search-options-container
          position: relative
          +inline-block
          background-color: $light-search
          color: #fff
          width: 80px
          margin-left: 5px
          padding: 1px 3px 3px 3px
          border: 0
          border-radius: 12px
          cursor: pointer
          &:hover
            .search-options
              display: block
            & > p
              text-decoration: underline
          p
            +inline-block
            text-transform: capitalize
            margin-left: 6px
          i
            +inline-block
            float: right
            font-size: 12px
            margin-top: 5px
            margin-right: 5px
            z-index: 10
          .search-options
            display: none
            position: absolute
            top: 12px
            right: 0
            background-color: $light-search
            color: #fff
            width: 150px
            overflow: hidden
            padding-top: 14px
            border: 0
            border-radius: 3px 0 3px 3px
            z-index: -1
            +box-shadow($dark)
            ul
              list-style-type: none
              li
                padding: 8px
                background-color: $light-search
                cursor: auto
                &:hover
                  background-color: $dark
                p
                  +inline-block
                  text-transform: capitalize
                input
                  +inline-block
                  float: right
                  width: 12px
                  margin: -3px 5px 0 0
      .user
        position: relative
        display: inline-block
        margin-left: 100px
        a
          p.username
            +inline-block
            color: #fff
            &:hover
              cursor: pointer
              text-decoration: underline
        .user-pic-container
          position: relative
          +inline-block
          margin-left: 15px
          cursor: pointer
          img.user-pic
            +inline-block
            height: 50px
            border: 3px solid $light
            border-radius: 50%
          &:hover .user-options
            display: block
          .user-options
            display: none
            position: absolute
            top: 100%
            right: 0
            min-width: 150px
            overflow: hidden
            background-color: $light
            border-top: 1px solid $dark
            border-radius: 0 0 3px 3px
            +box-shadow($dark)
            ul
              list-style-type: none
              margin: 0
              li
                a
                  display: block
                  color: #fff
                  padding: 12px
                  &:hover
                    cursor: pointer
                    background-color: $dark
                  i
                    margin-right: 12px
