.header
  overflow: hidden
  background-color: $bg-grey
  .inner
    width: 100%
    max-width: 1366px
    height: 50px
    padding: 5px 100px
    margin: 0 auto
    .logo
      display: inline-block
      vertical-align: middle
      img
        height: 40px
    .user-panel
      float: right
      display: inline-block
      vertical-align: middle
      .search
        i
          font-size: 26px
          margin: 4px 5px 0 0
          color: #fff
          display: inline-block
          vertical-align: top
        input
          font-size: 16px
          font-weight: lighter
          line-height: 32px
          height: 32px
          margin: 5px 0
          padding: 3px 7px
          border: 0
          border-radius: 2px
