.home
  background-color: $light-white
  padding: 25px 50px
  .feed-item
    position: relative
    display: inline-block
    background-color: #fff
    padding: 5px
    border: 0
    border-radius: 3px
    .thumbnail
      width: 150px
      img
        width: 100%
