.home
  background-color: $light-white
  padding: 25px 50px
  .feed-item
    position: relative
    display: inline-block
    background-color: #fff
    width: 18%
    margin: 1%
    padding: 5px
    border: 0
    border-radius: 3px
    .thumbnail
      width: 100%
      img
        width: 100%
