=box-sizing
  box-sizing: border-box

=inline-block
  display: inline-block
  vertical-align: middle

=box-shadow($color)
  box-shadow: 0 3px 6px -2px $color
  -webkit-box-shadow: 0 3px 6px -2px $color
  -moz-box-shadow: 0 3px 6px -2px $color

=box-shadow-custom($value)
  box-shadow: $value
  -webkit-box-shadow: $value
  -moz-box-shadow: $value
