<div class="home">
  <div class="columns">
    <div class="feed-options">
      <div class="inner">
        <div ng-repeat="option in feed_options"
          class="option"
          ng-class="{'selected': option.isSelected}"
          ng-bind="option.name"
          ng-click="selectOption(option)"></div>
      </div>
    </div>
    <div class="feed-item toggle" ng-repeat="item in displayed_items" ng-click="openItem(item)">
      <div class="delete-button" ng-if="isOwnerOf(item)" ng-click="$event.stopPropagation(); deleteItem(item.id)">
        <p>&times;</p>
      </div>
      <div class="feed-thumbnail">
        <img ng-src="{~ item.entities[0].file ~}" alt="{~item.title~}"/>
      </div>
      <!-- <div class="tag-container">
        <div class="tag">
          <p class="tag-type" ng-bind="item.itemType"></p>
        </div>
      </div> -->
      <div class="more-details">
        <p class="item-title" ng-bind="item.title"></p>
        <a ui-sref="profile({id: item.owner.enrollmentNo})" ng-click="$event.stopPropagation()">
          <p class="owner" ng-bind="item.owner.name"></p>
        </a>
      </div>
      <div class="appreciations-container" ng-click="$event.stopPropagation(); appreciateItem(item)">
        <i ng-class="{'fa fa-star-o': !item.appreciated, 'fa fa-star': item.appreciated}"></i>
        <p class="appreciations" ng-if="item.appreciations > 0" ng-bind="item.appreciations"></p>
      </div>
    </div>
  </div>
</div>
