<div class="home">
  <div class="columns">
    <div class="feed-item toggle" ng-repeat="item in items">
      <div class="thumbnail">
        <img ng-src="{~ item.image ~}" alt=""/>
      </div>
      <!-- <div class="more-details">
        <div class="tag-container">
          <div class="tag">
            <p class="tag-type" ng-bind="item.itemType"></p>
          </div>
        </div>
        <div class="appreciations-container">
          <i class="fi-star"></i>
          <p class="appreciations" ng-bind="item.likes"></p>
        </div>
      </div>
      <p class="item-title" ng-bind="item.itemName"></p>
      <p class="owner">by {~ item.owner ~}</p>
      <div class="published-container">
        <p class="published" am-time-ago="item.publishDate"></p>
      </div> -->
    </div>
  </div>
</div>
