<div class="search-results-container">
  <div class="close-search">
    <i class="fi-x"></i>
  </div>
  <div class="search-students">
    <h3>People <span>(Showing 4 of 12)</span></h3>
    <div class="students-list">
      <div class="student" ng-repeat="i in [1,2,3,4]">
        <img src="http://media.onsugar.com/files/2011/01/05/1/192/1922153/ea8f1ca1b21ed7a8_mila.jpg" alt="Mila Kunis" />
        <div class="info">
          <h4>Mila Kunis</h4>
          <p>B.Tech ME III Year</p>
        </div>
      </div>
    </div>
  </div>
  <div class="search-items">
    <h3>Items <span>(Showing 8 of 31)</span></h3>
    <div class="items-list">
      <div class="item" ng-repeat="i in [1,2,3,4,5,6,7,8]" style="background-image:url('http://media.onsugar.com/files/2011/01/05/1/192/1922153/ea8f1ca1b21ed7a8_mila.jpg')">
        <div class="details">
          <div class="appreciations">
            <p>200</p>
            <i class="fa fa-star"></i>
          </div>
          <div class="info">
            <h4>Item Name</h4>
            <p>by Owner</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
