<div class="header">
  <div class="inner">
    <div class="logo">
     <img src="/static/images/logo.png" alt="Kriti" />
    </div>
    <div class="user-panel">
      <div class="search">
        <i class="fi-magnifying-glass"></i>
        <input type="text" name="search" placeholder="Search">
      </div>
      <div class="user">
        <p class="username">
          Mila Kunis
        </p>
        <img class="user-pic" src="http://media.onsugar.com/files/2011/01/05/1/192/1922153/ea8f1ca1b21ed7a8_mila.jpg" alt="Username" />
      </div>
    </div>
  </div>
</div>
