<div class="modal-body">
  <div class="lightbox-container">
    <div class="lightbox-img">
      <img lightbox-src="{~Lightbox.imageUrl~}">
    </div>
    <div class="lightbox-panel">
      <div class="lightbox-panel-inner">
        <p class="item-title">{~Lightbox.images[0].title~}</p>
        <p class="item-desc">
          {~Lightbox.images[0].description~}
        </p>
        <a class="item-owner-link"
          ng-click="closeAndNavigateTo(Lightbox.images[0].owner.enrollmentNo)">
          <div class="item-owner">
            <img ng-src="{~Lightbox.images[0].owner.photo~}" alt="" />
              <p>{~Lightbox.images[0].owner.name~}</p>
          </div>
        </a>
        <div class="appreciations-container" ng-click="appreciateItem(Lightbox.images[0])">
          <i ng-class="{'fa fa-star-o': !Lightbox.images[0].appreciated, 'fa fa-star': Lightbox.images[0].appreciated}"></i>
          <p class="appreciations" ng-bind="Lightbox.images[0].appreciations"></p>
        </div>
      </div>
    </div>
    <i class="esc-msg">Press Esc to close</i>
  </div>
</div>
