<div class="media-dialog">
  <p class="heading">
    <span class="text">Add artwork/photography</span>
    <i class="fi-photo"></i>
    <i class="fi-camera"></i>
  </p>
  <form ng-submit="newItem.addItem()" validate>
    <input type="text" name="title"
      placeholder="Title *"
      maxlength="50"
      required=""
      ng-model="newItem.item.title">
    <div class="description">
      <textarea name="description"
        placeholder="Brief description"
        maxlength="{~newItem.item.maxDescCount~}"
        ng-model="newItem.item.description"></textarea>
      <p class="text-count">{~newItem.item.description.length | fixUndefined~}/{~newItem.item.maxDescCount~}</p>
    </div>
    <div class="btn-wrapper">
      <div class="form-btn"><i class="fi-upload"></i>&nbsp;&nbsp;Upload JPG, PNG or GIF <sup>*</sup></div>
    </div>
    <div class="btn-wrapper text-right">
      <button class="form-btn" type="submit" name="submit">
        <i ng-class="{'fa fa-circle-o-notch fa-spin': newItem.uploading, 'fi-check': !newItem.uploading}"></i>&nbsp;&nbsp;Post
      </button>
    </div>
  </form>
</div>
