<!DOCTYPE html>
<html ng-app="kriti" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <base href="/kriti/" />
    <title ng-bind="appTitle"></title>
    <!-- links -->
    <link rel="icon" href="static/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"/>
    <link href='//fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/libs/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="static/libs/ngDialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="static/libs/ngDialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="static/libs/ngDialog/css/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="static/css/master.css">
  </head>
  <body class="ng-cloak" ng-cloak>
    <!-- header -->
    <div ng-include="'static/views/parts/header.html'"></div>
    <!-- ui-view -->
    <div ui-view>Loading...</div>
    <!-- scripts -->
    <script src="static/libs/angular/angular.min.js" type="text/javascript"></script>
    <script src="static/libs/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="static/libs/angular-animate/angular-animate.min.js" type="text/javascript"></script>
    <script src="static/libs/ngDialog/js/ngDialog.min.js" type="text/javascript"></script>
    <script src="static/libs/angular-loading-bar/build/loading-bar.min.js" type="text/javascript"></script>
    <script src="static/libs/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="static/js/app.js" type="text/javascript"></script>
    <script src="static/js/kriti.main.js" type="text/javascript"></script>
    <script src="static/js/kriti.home.js" type="text/javascript"></script>
    <script src="static/js/kriti.profile.js" type="text/javascript"></script>
  </body>
</html>
