<!DOCTYPE html>
<html ng-app="kriti" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <base href="/" />
    <title ng-bind="appTitle"></title>
    <link rel="stylesheet" href="/static/css/master.css">
  </head>
  <body class="ng-cloak" ng-cloak>
    <div ui-view>Loading...</div>
    <script src="/static/libs/angular/angular.min.js" type="text/javascript"></script>
    <script src="/static/libs/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="/static/libs/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="/static/js/app.js" type="text/javascript"></script>
    <script src="/static/js/app.services.js" type="text/javascript"></script>
    <script src="/static/js/app.config.js" type="text/javascript"></script>
    <script src="/static/js/app.controllers.js" type="text/javascript"></script>
  </body>
</html>
